body {
  margin: 0px;
  padding-top: 70px;
}

#tasks text {
  font: 1em;
  text-anchor: start;
  fill: white;
}
#tasks path {
  fill-rule: evenodd;
  stroke: white;
}
#tasks .highlight {
  stroke: orange;
  stroke-width: 2;
  fill: none;
}

.task {
  margin: 5px;
  display: inline-block;
  position: relative;
}
.done {
  background-color: seagreen;
}
.task > .panel-body {
  padding: 5px;
  min-width: 150px;
  max-width: 300px;
  height: 3.2em;
  overflow: hidden;
}
.task > .panel-footer {
  padding: 5px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay circle {
  fill: orange;
  opacity: 0.35;
}
.editor-button {
  color: white;
  position: absolute;
  pointer-events:none;
}

#explanation {
  position: absolute;
  text-align: left;
  font-size: larger;
  color: black;
  visibility: hidden;
}
