body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.vertical {
  display: flex;
  flex-direction: row;
}

#search {
  font-size: larger;
  min-width: 15em;
  max-height: 1.5em;
  display: inline;
}

.menubar * {
  margin: 5px;
}
.menubar .fa {
  font-size: 1.5em;
  color: steelblue;
}

#tasks {
  position: relative;
  flex: 1;
}
#tasks text {
  font: 1em;
  text-anchor: start;
  fill: white;
}
#tasks path {
  fill-rule: evenodd;
  stroke: white;
}
#tasks .highlight {
  stroke: orange;
  stroke-width: 2;
  fill: none;
}
#tasks > div {
  color: white;
  background-color: steelblue;
  border: 1px solid white;
  box-sizing: border-box;
  position: absolute;
}
#tasks > .done {
  background-color: seagreen;
}
#tasks > div > .toolbar {
  width: 20px;
  height: 100%;
  float: left;
}
#tasks > div > .toolbar i.fa {
  padding: 2px;
}
#tasks > div > .details {
  height: 100%;
  margin-left: 20px;
  position: relative;
}
#tasks .title {
  padding: 2px;
  max-height: 3.3em;
  overflow: hidden;
  position: absolute;
}
#tasks .due {
  padding: 4px;
  color: lightgray;
  font-size: smaller;
  position: absolute;
  bottom: 0;
}
#tasks .time {
  padding: 4px;
  color: lightgray;
  font-size: larger;
  position: absolute;
  bottom: 0;
  right: 0;
}
i.fa {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
i.fa:hover {
  color: orange;
}
.fa-bars {
  cursor: move;
}

#explanation {
  position: absolute;
  text-align: left;
  font-size: larger;
  color: black;
  visibility: hidden;
}
